{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA.Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> QR4health </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}" > Home🏠</a>
            </li>
            <li>
                <a href="{% url 'users' %}" > Users</a>
            </li>
            <li>
                <a href="{% url 'añadir' %}" > Añadir</a>
            </li>
            <li>
                <a href="{% url 'about' %}" > About</a>
            </li>
            <li>
                <a href="{% url 'blog' %}" >  Blog </a>
            </li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>