{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QR4health</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/countup.js@2.0.7"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <style>
      body {
          background-image: url("{% static 'fondo 4.jpeg' %}");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }

        .blur-container {
            backdrop-filter: blur(8px);
            background: rgba(255, 255, 255, 0.1); /* Ajusta la opacidad según sea necesario */
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            margin: auto;
            margin-top: 100px; /* Ajusta el margen superior según sea necesario */
            text-align: center;
        }
  </style>
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="" width="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signout' %}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Regístrate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div style="margin-bottom: 50px;"></div>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>QR4Health</span>
            </div>
            <!-- Left -->

            <!-- Right -->

            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>QR4Health - IWG101 - USM
                        </h6>
                        <p style="text-align: left;">
                            Recuerda llevar tu código a mano y que sea visible en los lugares donde vayas para que puedas ser ayudado/a en caso de necesidad. Para dudas, reclamos o sugerencias contáctanos vía contacto@qr4health.cl
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Fundaciones:
                        </h6>
                        <p>
                            <a class="text-reset" href="https://www.encuentrosalzheimer.cl/">Encuentros Alzheimer</a>
                        </p>
                        <p>
                            <a class="text-reset" href="https://www.ligaepilepsia.cl/">Liga Chilena contra la Epilepsia</a>
                        </p>
                        <p>
                            <a class="text-reset" href="https://www.autismoactivo.cl/">Autismo Activo</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Quiénes llevamos a cabo este proyecto:</h6>
                        <p>Lucas Ansieta</p>
                        <p>Gabriel Delgado</p>
                        <p>Nicolás Lillo</p>
                        <p>Miguel Quitral</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
   
