{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">

    <p>
    <h1>Descubren nuevo fármaco para combatir el Alzheimer!</h1>
    En España, un equipo de investigadores liderado por José L. Marco-Contelles, Instituto de Química Orgánica General de Madrid, del Consejo Superior de Investigaciones Científicas (CSIC), han descubierto una nueva medicina para frenar los mecanismos que provocan el desarrollo de la enfermedad.
    </p>
    <p>
        <img src="{% static 'José L. Marco-Contelles.jpg' %}" alt="..." width="600" height="600">
    </p>
    <p>
        Se trata de uno de los descubrimientos más relevantes de los últimos años, puesto que han hallado una molécula multipotente que actúa como un agente protector cuando se cruza el donepezil, un remedio ya conocido con la molécula descubierta, denominada propargilamina PF9601N ASS2324. Esto podría posibilitar la producción de medicamentos eficaces en la cura, y no solo en los cuidados paliativos del alzhéimer.
    </p>
    <p>
    </p>
    <p>
        Un rayo de esperanza para muchos.
    </p>
    <p>
    </p>
    <p>
    ㅤ
    </p>
    <p>
    Artículo escrito por Miguel Quitral.<br>Fuente: <a href="https://pubmed.ncbi.nlm.nih.gov/27445665/"
    target="_blank">ASS234, As a New Multi-Target Directed Propargylamine for Alzheimer's Disease Therapy</a> escrito por José Marco-Contelles, Mercedes Unzeta, Irene Bolea, Gerard Esteban, Rona R Ramsay, Alejandro Romero, Ricard Martínez-Murillo, M Carmo Carreiras y Lhassane Ismaili.
    </p>
    
</div>

{% endblock %}