{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">

    <p>
    <h1> Post #1: Revisa una entrevista exlusiva con personal de la salud!</h1>
    En el afán de entregarle a nuestros usuarios una experiencia no solo agradable, sino que también segura y confiable a la hora de tratar con datos importantes en cuanto a salud... Lucas, uno de los miembros fundadores de QR4Health entrevistó a Ingrid Andrade, una funcionaria del área de la salud, pediatra y neonatóloga egresada de la Universidad de Chile.
    </p>
    <p>
        <img src="{% static 'post-1.png' %}" alt="..." width="700" height="400">
    </p>
    <p>
    QR4Health y sus 4 miembros fundadores estamos decididos a entregarle a las personas un servicio que no solo proteja sus datos privados de salud, sino que además entregue recomendaciones precisas para personas que tienen condiciones como Alzheimer, Epilepsia o Autismo.
    </p>
    <p>
        <img src="{% static 'post-1 (2).jpg' %}" alt="..." width="700" height="400">
    </p>
    <p>
    Sabemos lo importante que es guiar correctamente a aquellos que asistirán a quiénes lo necesitan, por ende... ¿Qué opinión mas fideidigna que la opinión de una profesional con años de experiencia?
    </p>
    <p>
    Revisa esta exclusiva entrevista en YouTube a través del siguiente link: 
    </p>
    <p>
    ㅤ
    </p>
    <p>
    De: Lucas
    </p>

</div>

{% endblock %}