{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">

    <p>
    <h1> Cómo ayudar a alguien que está teniendo una convulsión</h1>
    Si alguien tiene una convulsión, es importante saber cómo ayudar. Según el Instituto Nacional de Trastornos Neurológicos, los signos de una convulsión incluyen tener la mirada fija, movimientos musculares involuntarios, caídas e incluso perder el conocimiento.

    </p>
    <p>
        <img src="{% static 'ayuda convulsiones.png' %}" alt="..." width="800" height="280">
    </p>
    <p>
    <b>1.</b> Mantenga la calma. Vea si la persona tiene una pulsera o un collar de identificación médica. Mida la duración de la convulsión con su reloj o teléfono.
    <hr><b>2.</b> Mantenga a la persona segura. Aléjela o guíela para que evite objetos dañinos o afilados. Si la persona deambula, guíela para alejarla de situaciones peligrosas.
    <hr><b>3.</b> Ponga a la persona de lado, si no está despierta o consciente. Aflójele la ropa apretada alrededor del cuello y colóquele algo suave y pequeño debajo de la cabeza. Si está consciente, ayúdele a sentarse.
    <hr><b>4.</b> No trate de impedir los movimientos de la persona ni de sujetarla. Esto puede causar lesiones y generar angustia.
    <hr><b>5.</b> Quédese con la persona hasta que esté totalmente despierta y alerta después de la convulsión. La mayoría de las convulsiones duran sólo unos minutos. Si una convulsión dura más de cinco minutos, llame al 911.
    </p>
    <p>
    Si bien esperamos no se presente la situación, estar preparados para ayudar a quien lo necesite siempre es bueno.
    </p>
    <p>
    ㅤ
    </p>
    <p>
        Artículo escrito por Miguel Quitral.<br>Fuente: <a href="https://magazine.medlineplus.gov/es/art%C3%ADculo/como-ayudar-a-alguien-que-esta-teniendo-una-convulsion"
        target="_blank">Revista NIH Medline Plus</a>, escrita por varios autores.
    </p>

</div>

{% endblock %}