{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">

    <p>
    <h1> Sobre Nosotros </h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam doloribus maiores nisi ad assumenda aliquam aspernatur deserunt, fugiat, fuga quisquam voluptates explicabo qui voluptate eligendi ea quibusdam saepe itaque quo esse? Corporis animi, est aspernatur tenetur maxime delectus voluptate placeat sint et beatae iste porro? Recusandae molestias ut vero deleniti consequuntur voluptate, aliquam, culpa libero iure, tempora nesciunt accusantium! Magnam voluptatibus expedita velit vero repudiandae voluptate esse tenetur explicabo voluptas. Ipsa architecto, beatae corporis molestias unde ipsam sapiente expedita aliquam ipsum. Laborum voluptas a quis iure labore maiores. Eum dolorem sequi at labore doloribus consequatur nostrum assumenda ipsa officiis nisi!
    </p>

</div>

{% endblock %}