{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">
  
  <p>
  <h1> Blog </h1>
    <div style="display: flex; justify-content: flex-start;">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'post-1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisa una entrevista exlusiva con personal de la salud!</h5>
          <p class="card-text">El equipo de QR4Health busca que todos sus usuarios se sientan seguros al usar la aplicación... ¡Ve que opina una doctora de nuestro desempeño!</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: Lucas</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'post-1' %}" class="btn btn-primary">Leer más...</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Post #2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sunt non tempora vel voluptatum placeat, nam mollitia sint recusandae quam.</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: Lucas</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'post-1' %}" class="btn btn-primary">Leer más...</a>
        </div>
      </div>
    </div>
  </p>

</div>

{% endblock %}