{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">
  
  <p>
  <h1> Blog </h1>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'logo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bienvenidos a QR4Health!</h5>
        <p class="card-text">Este es el primer post de la página... Descubre lo que hacemos y lo que tú puedes hacer!</p>
        <a href="#" class="btn btn-primary">Leer más...</a>
      </div>
    </div>
  </p>

</div>

{% endblock %}