{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">
  
  <p>
  <h1> Blog </h1>
    <div style="display: flex; justify-content: space-around;">

      <div class="card" style="width: 18rem;">
        <img src="{% static 'post-1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisa una entrevista exlusiva con personal de la salud!</h5>
          <p class="card-text">El equipo de QR4Health busca que todos sus usuarios se sientan seguros al usar la aplicación... ¡Ve que opina una doctora de nuestro desempeño!</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: Lucas</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'post-1' %}" class="btn btn-primary">Leer más...</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'José L. Marco-Contelles chikito.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Descubren nuevo fármaco para combatir el Alzheimer!</h5>
          <p class="card-text">En España, un equipo de investigadores liderado por José L. Marco-Contelles ha descubierdo una fusión de dos moléculas que da esperanzas de que se pueda curar el alzheimer de una vez por todas.</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: Miguel</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'post-2' %}" class="btn btn-primary">Leer más...</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'convulsiones.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cómo ayudar a alguien que está teniendo una convulsión</h5>
          <p class="card-text">

          Trate de mantener la calma y no impida los movimientos de la otra persona.</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: Miguel</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'post-3' %}" class="btn btn-primary">Leer más...</a>
        </div>
      </div>

    </div>
  </p>

</div>

{% endblock %}