{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    
    <p>
    <h1> Inicio </h1>
    <div class="card text-bg-dark">
        <img src="{% static 'logo.png' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">¡Bienvenidos a QR4Health!</h5>
          <p class="card-text">Somos 4 estudiantes de la Universidad Técnica Federico Santa María con ganas de ayudar a quienes más lo necesitan.</p>
          <p class="card-text"><small>No se que poner acá</small></p>
        </div>
      </div>
    </p>

</div>
{% endblock %}