{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<div class="container">
    
    <p>
    <h1> Inicio </h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus expedita nobis dolorum ullam maxime impedit quo laudantium necessitatibus magni, ab, iste optio quidem aliquid dolor accusantium cum. Facere sed animi neque harum soluta necessitatibus ratione sit quas obcaecati, est aliquam repellat. Aperiam saepe sequi beatae ab molestiae cupiditate temporibus, explicabo non quibusdam, esse, quisquam voluptatum? Blanditiis sunt qui deserunt quaerat nam nostrum dolores nesciunt eligendi sint architecto vitae, sit consequuntur est doloribus, accusantium laboriosam natus laudantium maxime hic quas dolore aut similique quae facilis? Eos, hic odit consequuntur numquam autem dicta, officiis error id debitis architecto harum modi voluptates?
    </p>

</div>
{% endblock %}