{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container mt-5">
    <div class="card profile-card">
        <div class="card-header bg-success text-white">
            <h1 class="text-center"><i class="fas fa-user-circle"></i> Mi Perfil</h1>
        </div>
        <div class="card-body">
            <div class="profile-image text-center">
                <img src="{% static 'familia.jpg' %}" alt="" class="img-fluid mb-3" width="500">
            </div>

            <div style="margin-bottom: 20px;"></div>

            <div class="profile-info">
                <h2><i class="fas fa-user"></i> Nombre: {{ perfil.name }}</h2>
                <h2><i class="fas fa-heartbeat"></i> Condición: {{ perfil.padecimiento }}</h2>
                <h2><i class="fas fa-allergies"></i> Alergias: {{ perfil.alergias }}</h2>
                <h2><i class="fas fa-phone"></i> Contacto de emergencia: {{ perfil.contact }}</h2>
                <h2><i class="fas fa-phone-square"></i> Número de emergencia: {{ perfil.num_contact }}</h2>
                <h2><i class="fas fa-exclamation-triangle"></i> Recomendaciones y precauciones: {{ perfil.recomendaciones_condicion }}</h2>
            </div>

            <div class="profile-image mt-3">
                <img src="{{ perfil.codigo }}" alt="" class="img-fluid" width="450">
            </div>
            <div class="mt-3">
                <a href="?download_qr_code=1" class="btn btn-success"><i class="fas fa-download"></i> Descargar QR Code</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
